################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.VC.db

bin
obj
Properties

**.dbmdl
**.jfm
**.user
**.log
**.pubxml


\.vs
\packages
\packages\**\*.*
bower_components
node_modules

Publish

